* {
  color: Ivory;
  background-color: DarkSlateGrey;
  margin: 20px;
}

h1, h3{
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
}

.pageTitle {
  font-family: 'Tangerine', sans-serif;
  font-size: 60px;
}

p {
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: 60px;
}
